body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
}

button {
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.period {
  background: #1e293b;
  margin: 10px;
  padding: 10px;
  border-left: 5px solid #22c55e;
}
