body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
  color: white;
}

.light {
  background: #f8fafc;
  color: black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  animation: pop 0.5s;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
  animation: slide 0.5s;
}

.sidebar a {
  display: block;
  margin: 15px 0;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
}

.today {
  background: #38bdf8;
}

@keyframes slide {
  from {transform: translateX(-100px);}
  to {transform: translateX(0);}
}

@keyframes pop {
  from {transform: scale(0.8);}
  to {transform: scale(1);}
}
